/* War is Over */

@charset "UTF-8";

/* 손글씨 Dancing Script , 그 외 폰트 Mochiy Pop One , Lobster ,Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Edu+VIC+WA+NT+Beginner:wght@400;600&family=Lobster&family=Mochiy+Pop+One&family=Playfair+Display:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}


/* header */
header{
    position: relative;
    display: flex;
    width: 100%;
    /* border-bottom: 60px solid rgba(255, 255, 255, 0.393); */
    justify-content: space-between;
    padding: 5vw 5vh;
    align-items: center;
    z-index: 2;
}

header .btn_manu{
    display: none;
}

header h1 a {
    position: absolute;
    color: rgba(255, 255, 255, 0.401);
    left: 80px;
    top: 68px;
}


/*sub_menu*/

header #sub .sub_menu{
    position: absolute;
    right: 5vw;
    padding: 10px 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: right;
    opacity: 1;
    transition: 0.4s;
}

header #sub .sub_menu li{
    padding: 10px 0px;
    font: 50px/1 "Lobster";
    color: #fff;
}

header #sub .sub_menu.hide{
    opacity: 0;
}

header #sub .sub_menu a{
    color: #fff;
}

header #sub .sub_menu a i{
    margin-left: 8px;
}

/*gnb*/

header #gnb {
     display: flex;
     position: absolute;
     left: 120px;
    }
    

header #gnb li{
    margin: 0px 15px;
    
}

header #gnb li a{
    font: bold 25px/1 "Dancing Script";
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    margin: 50px;
    /* text-shadow:1px 1px 1px rgba(255, 255, 255, 0.518); */

}

/*sns*/

header .sns{
    display: flex;
}

header .sns li{
    margin: 0px 10px;
    
}

header .sns li a{
    color: rgba(255, 255, 255, 0.425);
    font-size: 20px;
    padding: 10px;

}

/* vedio */

figure{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 1;
}

figure video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure .text{
    position: absolute;
    left: 15vw;
    top: 0%;
    bottom: 45%;
    transform: translate(0,50%);
}

figure .text p{
    font: normal 8vw/1 "Playfair Display";
    color: rgb(0, 0, 0);
}

figure .text ul{
    position: absolute;
    display: flex;
    margin-top: 80px;
    font-size: 50px;
    
}

figure .text ul li {
    margin: 0px 80px;
}

figure .text ul li i{
    position: absolute;
    bottom: 38px;
    left: 190px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    
}

figure .text ul li strong{
    position: absolute;
    display: flex;
    bottom: 45px;
    left: 220px;
    font: 27px/1 "Playfair Display";
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}

/* footer */

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    letter-spacing: 2px;
    text-align: center;
    padding: 5vh 5vw;
    z-index: 2;
}

footer p{
    font: bold 25px/1 "Dancing Script";
    color: rgba(0, 0, 0, 0.41);
    position: absolute;
    left: 370px;
    bottom: 40px;

}

/* mobile */

@media screen and (max-width: 1280px) {
    header #gnb{
        display: none;
    }

    header h1{
        display: none;
    }

    header .sns{
        display: none;
    }



    header .btn_menu{
        display: block;
        color: #fff;
    }
    figure .text p{
        font-size: 12vw;
    }
    figure .login{
        font-size: 8vw;
        right: 43vw;
    }

    footer .log{
        display: none;
    }
}